@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Light.woff') format('woff'),
    url('../fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.js .container-fluid {
  display: none;
}


p, body, input, select, textarea, button, div {
    font-size: 16px;
}

p, div {
    line-height: 1.8rem;
}

body {
    background-color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham';
  font-weight: bold;
}

blockquote {
  font-family: 'Gotham Book';
  font-weight: normal;
}

blockquote b, blockquote strong {
  font-family: 'Gotham';
  font-weight: bold;
}

a {
  color: #05b0da;
}

a:hover {
  color: #124c71;
}

img {
  max-width: 100%;
}

.ak-styled-fields input[type="text"], .ak-styled-fields input[type="email"], .ak-styled-fields input[type="password"], .ak-styled-fields input[type="number"], .ak-styled-fields input[type="tel"], .ak-styled-fields input[type="date"], .ak-styled-fields input[type="url"], .ak-styled-fields input[type="search"], .ak-styled-fields textarea, .ak-styled-fields select {
  font-size: 1rem;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  padding-top: 0px;
}


.container-fluid {
  min-height: 100vh;
  max-width: 1440px;
  background-color: #f7f7f7;
}

header.banner-small {
  padding: 15px 0;
  border-bottom: 1px solid #e3e3e3;
}

header.banner-small img.logo {
    display: inline;
    max-width: 40px;
    margin-right: 12.5px;
}

header.banner-small h6 {
    display: inline;
    font-weight: 800;
    text-transform: uppercase;
}

header.banner-large {
  background-color: #19b9e7;
  text-align: center;
  padding: 60px 10px;
}

header.banner-large h1 {
  color: #fff;
  font-weight: 300;
  font-size: 2.75em;
  letter-spacing: .02em;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

footer img.logo {
  max-width: 100px;
  margin: 0 10px;
}

footer p {
  font-size: .85em;
  margin-top: 10px;
}

.ak-err {
  font-size: .85em;
}

.btn {
  font-family: "Gotham";
  height: 50px;
  width: 275px;
  vertical-align: middle;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px;
}

#id_optin {
    display: none;
    margin-bottom: 15px;
}

#id_optin input {
  margin-right: 15px;
  display: inline-block;
}

#id_optin span {
    position: relative;
    font-size: 12px;
}

.ak-progress-meter {
  margin: 10px 0 30px;
}

.ak-progress-meter .ak-progress-percent {
  font-size: 1.2rem;
  margin: 0px 5px 0 6px;
}

.ak-progress-meter .ak-progress-actions {
    font-size: 0.84rem;
    line-height: 1.1;
    font-weight: 200;
}

.ak-progress-goals {
  float: right;
}


@media (min-width: 768px) {

    header.banner-large h1 {
    font-size: 4em;
    }

 }


.ak-pagetype-thanks .content {
  margin-top: 50px;
}

.ak-pagetype-thanks .checkmark-icon {
  max-width: 30px;
  margin-right: 10px;
}

.ak-pagetype-thanks .share-btn {
    margin-top: 25px;
}

.ak-pagetype-thanks .share-btn > div {
  padding: 0 5%;
}

.ak-pagetype-thanks a.ak-share-button {
  border-radius: 0;
  font-size: 1.1em;
  background-image: none;
  text-align: center;
  padding-left: 0;
}

.ak-pagetype-thanks a.ak-share-button:hover {
  text-decoration: none;
}

.ak-pagetype-thanks a.ak-share-button img {
  max-width: 30px;
  margin-right: 15px;
  position: relative;
  top: -2px;
}

.ak-pagetype-thanks .ak-progress-meter {
  margin-top: 30px;
  max-width: 250px;
  float: right;
}

.ak-pagetype-thanks h5 {
  margin-bottom: 1.2em;
}


.ak-pagetype-thanks.post-action-donation #donation-embed {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 50px;
}

.ak-pagetype-thanks.post-action-donation #donation-embed h3 {
  text-align: center;
}

.ak-pagetype-thanks .facebook-wrap, .ak-pagetype-thanks .twitter-wrap {
  background-color: white;
  padding: 20px;
}


.ak-pagetype-thanks .facebook-wrap h4 {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.ak-pagetype-thanks .facebook-wrap p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: .8em;
  line-height: 1.75em;
}

.ak-pagetype-thanks .facebook-wrap span {
  font-size: .7em;
  opacity: .85;
  text-transform: uppercase;
}

.ak-pagetype-thanks .twitter-wrap {
  padding: 60px 20px;
}

.ak-pagetype-thanks .twitter-wrap > div {
  background-color: #ebebeb;
  padding: 25px;
}

.ak-pagetype-thanks .twitter-wrap {
  position: relative;
  padding-bottom: 50px;
}

.ak-pagetype-thanks .twitter-wrap > div:before {
  content: '\f099';
  font-family: FontAwesome;
  position: absolute;
  top: 15px;
  color: #2589ff;
  font-size: 1.5em;
}

.ak-pagetype-thanks .twitter-wrap > div:after {
  content:'';
  position: absolute;
  bottom: 35px;
  right: 40px;
  width: 0;
  height: 0;
  border-top: solid 25px #ebebeb;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
}

@media (max-width: 768px) {

    .ak-pagetype-thanks .content {
    max-width: 500px;
    margin: 50px auto 0 auto;
    }

    .ak-pagetype-thanks .content h5 {
    text-align: center;
    }

    .ak-pagetype-thanks .content h5 img {
    display: block;
    margin: 0 auto 20px auto;
    }

}

@media (min-width: 768px) {

    .ak-pagetype-thanks .content {
    padding: 0 40px;
    }

    .ak-pagetype-thanks .share-btn {
    display: -webkit-flex;
    display: flex;
    }

    .ak-pagetype-thanks .share-btn > div {
    width: 50%;
    }

}




.ak-pagetype-donate .content {
  margin-top: 50px;
}


.ak-pagetype-donate .ask {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.ak-pagetype-donate .ak-progress-meter {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.ak-progress-meter .ak-progress-percent {
  color: #19b9e7;
}

.ak-pagetype-donate .ak-field-box {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 0;
  border: none;
  padding: 0px;
  border: 1px solid #eee;
}

.ak-donate-header {
  text-transform: uppercase;
  text-align: right;
  opacity: .75;
  font-size: .85em;
  border-bottom: 1px solid #eee;
  padding: 10px 30px;
  font-weight: 800;
}

.ak-donate-header .fa {
  margin-left: 10px;
  color: #00cd67;
}

.ak-donate-menu {
  margin-top: 30px;
  display: table;
  list-style: none;
  table-layout: fixed;
  width: 100%;
  margin: 20px 0;
  padding: 15px 0;
  text-align: center;
  overflow: hidden;
  background: #fafafa;
}

label.ak-donate-step {
  display: table-cell;
}

.ak-donate-step span {
  display: inline;
  margin-right: 10px;
  padding-left: 7px;
  color: #e0e0e0;
}

.ak-donate-menu span,
.ak-donate-menu .ak-step-number {
     -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.ak-donate-menu input:checked+div.ak-step-number+span {
  color: #4b4b4b;
}

.ak-donate-menu input:checked+div.ak-step-number {
  background-color: #4b4b4b
}

label.ak-donate-step:hover div.ak-step-number {
  background: #19b9e7;
}

label.ak-donate-step:hover div.ak-step-number+span {
  color: #19b9e7;
}

#ak-donation-details {
  padding: 0 30px 30px 30px;
}

#ak-amount-list li label {
  width: 90px;
  border-radius: 3px;
}

#ak-amount-list .ak-amount-wrapper li {
  font-weight: 500;
}

#ak-recurring-type .recurring-pitch {
  font-size: .85em;
  text-align: left;
  opacity: .6;
  line-height: 1.7em;
}

.ak-payment-options {
  margin-top: 20px;
}

.ak-payment-options button {
    position: relative;
    top: 3px;
    left: 6px;
}

.ak-donate-area-step-2 label,
.ak-donate-area-step-3 label {
  margin-bottom: 0px;
  font-size: .9em
}

.ak-styled-fields input[name="zip"] {
  width: 100%;
}

select.form-control-lg:not([size]):not([multiple]) {
  height: 2.7rem;
}

.ak-donate-footer {
  text-align: center;
  margin-top: 20px;
}

#ak-donation-total-div {
  margin-top: 25px;
}

#ak-donation-total-div p {
  text-align: center;
}



@media screen and (min-width: 800px) {
    #ak-amount-list li label {
        width: 120px;
    }

    div#ak-amount-list .ak-amount-wrapper li {
      padding: 1px;
    }
}



.ak-pagetype-donate.tag-event .suggested {
  text-align: center;
}

.ak-pagetype-donate.tag-event #ak-amount-list .ak-unstyled {
  display: block;
}

.ak-pagetype-donate.tag-event #ak-amount-list .ak-unstyled li {
  display: inline-block;
  margin: 30px 5% 0px 5% !important
}

.ak-pagetype-donate.tag-event .ak-donation-total.ak-donate-area-step-1 {
  text-align: center;
  background: #f7f7f7;
  margin-top: 40px;
}

.ak-pagetype-donate.tag-event .ak-donation-total span.ak-donation-total-amount {
  font-weight: 600;
  margin-left: 3px;
}


.ak-pagetype-donate.tag-event #ak-product-list table td,
.ak-pagetype-donate.tag-event #ak-product-list table .ak-product-name {
  font-weight: normal;
}

.ak-pagetype-donate.tag-event #ak-product-list table .ak-product-name {
  text-transform: capitalize;
}

.ak-pagetype-donate.tag-event #ak-product-list h3 {
  text-align: center;
  margin: 30px 0;
  text-transform: uppercase;
  opacity: .75;
  font-size: .85em;
  font-weight: 800;
}

.ak-pagetype-donate.tag-event #ak-product-list h3:after {
  content: '';
  display: block;
  height: 2px;
  width: 150px;
  margin: 20px auto 0px;
  background-color: #4b4b4b;
}

.ak-pagetype-donate.tag-event #ak-product-list h3,
.ak-pagetype-donate.tag-event #ak-product-list table th.ak-product-quantity-header,
.ak-pagetype-donate.tag-event #ak-product-list table td.ak-product-quantity {
  text-align: center;
}





.ak-pagetype-petition .content {
  max-width: 600px;
  margin: 25px auto 0;
}

.ak-pagetype-petition form {
  max-width: 980px;
  margin: 0 auto;
}

.ak-pagetype-petition .headline {
  text-align: center;
}

.ak-pagetype-petition .headline h1 {
  font-size: 1.25rem;
  line-height: 2rem;
}

.ak-pagetype-petition .headline span {
  font-size: .85rem;
  opacity: .85;
  font-family: 'Gotham';
}

.ak-pagetype-petition .ak-petition-leadin {
  margin-top: 50px;
}
/*
.ak-pagetype-petition #ak-petition-story .ak-featured-img {
  max-height: 325px;
  width: auto;
}
*/

.ak-pagetype-petition #petition-form h3 {
  margin-bottom: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 800;
  color: #df5441;
  line-height: 1.4em;

}

.ak-pagetype-petition #petition-form .btn-success {
  margin-top: 1rem;
  width: 100%
}

.ak-pagetype-petition .background.hidden-md-up h3 {
  text-align: center;
}

.ak-pagetype-petition .background h2 {
  margin: 50px 0;
}

.ak-pagetype-petition .statement-text-wrapper {
  border-left: 5px solid #df5441;
  padding: 10px 20px;
  margin-top: 50px;
}

.ak-pagetype-petition .statement-text-wrapper p:last-child {
  margin-bottom: 0;
}

.ak-pagetype-petition #ak-petition-story a.hidden-md-up {
  display: block;
  margin: 25px 0;
}

.ak-pagetype-petition .disclaimer {
  font-size: .85em;
  margin-top: 25px;
}



@media screen and (min-width: 768px) {

    .ak-pagetype-petition .content {
    margin-top: 25px;
    }

    .ak-pagetype-petition .headline h1 {
    font-size: 2.25rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
    }

    .ak-pagetype-petition #petition-form {
    padding: 0;
    }

    .ak-pagetype-petition .content {
      max-width: 100%;
    }

}



@media screen and (min-width: 1100px) {
  .ak-pagetype-petition .content > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.ak-pagetype-unsubscribe .content {
  max-width: 700px;
  margin: 50px auto 0;
}

.ak-pagetype-unsubscribe .unknown-fill p {
  font-size: .85rem;
}

.ak-pagetype-unsubscribe #unknown_user,
.ak-pagetype-unsubscribe #known_user {
  margin-bottom: 40px;
}

.ak-pagetype-unsubscribe button#subscribe-botw,
.ak-pagetype-unsubscribe button#unsubscribe {
  line-height: .2rem;
  padding: 1.5rem 1rem;
  border-radius: 0px;
  margin: 0 auto;
  width: 100%;
  max-width: 335px;
  display: block;
}

.ak-pagetype-unsubscribe button#unsubscribe {
  margin-top: 40px;
}

.ak-pagetype-unsubscribe #unknown_user input#id_email {
  max-width: 400px;
  margin: 0 auto;
}

.ak-pagetype-unsubscribe .footer {
  margin-top: 150px;
}

.ak-pagetype-thanks .feedback {
  margin: 30px 0 0 20px;
}

.ak-pagetype-thanks .feedback textarea {
  display: none;
  width: 100%;
  max-width: 400px;
  height: 100px;
}

.ak-pagetype-donate.donation-gift .ask {
  margin-bottom: 30px;
}

.ak-pagetype-donate.donation-gift .gift {
  text-align: center;
}



@media screen and (min-width: 992px) {

    .ak-pagetype-unsubscribe button#subscribe-botw,
    .ak-pagetype-unsubscribe button#unsubscribe {
    padding: 1.5rem 3rem;
    max-width: 400px;
    }

}

.tra header.banner-small {
  background: #E06426;
}

.tra header.banner-small h6 {
  color: white;
}

.tra .statement-text-wrapper {
  border-color: #00A79D !important;
}

.tra .headline h1 {
  color: #00A79D !important;
}

.tra #petition-form h3 {
  color: #E06426;
}

.tra #petition-form button {
  background-color: #63449B;
}

.tra #petition-form button:hover {
  background-color: #301168;
}

.tra footer {
  background: white;
  padding-top: 50px;
}

.tra footer img.logo {
    max-width: 100%;
    padding: 5% 30%;
}

.tra footer img.logo.logo-tra {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  max-width: 100px;
  padding: 0px;
}

.tra footer .privacy {
  margin-top: 15px;
}

.tra .modal-body {
  text-align: left;
}

.tra .modal-footer button {
  margin: 0 auto;
}

.tra .row.footer img.logo {
  max-width: 100%;
  padding: 5% 20%;
}

.tra.ak-pagetype-thanks header.banner-large {
  background: #E06426;
}

.tra.ak-pagetype-thanks header h1 {
  color: white;
}

@media screen and (max-width: 768px) {
  .tra footer img.logo {
    padding: 5% 15%;
  }
}



.splash .content {
  background-image: url(https://s3.amazonaws.com/s3.progresstexas.org/images/dreamer.jpg);
  background-size: cover;
  margin: 0;
  height: 100vh;
  min-height: 500px;
}

.splash .content form {
  height: 100vh;
  text-align: center;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex !important;
  align-items: center;
  justify-content: center;
}

.splash .content h1 {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 25px;
}

.splash .content h5 {
  text-transform: uppercase;
  display: inline-block;
  background: #fff;
  padding: 5px 7.5px;
  color: #882da2;
}

.splash .ak-form input {
  font-size: 1rem;
  padding: 5px !important;
  border: none;
  text-align: center;
  width: 60%;
}

@media screen and (min-width: 768px) {

  .splash .content h1 {
    font-size: 4em;
  }

  .splash .ak-form .form-group {
    display: inline-block;
  }

  .splash .ak-form input {
    margin: 0 5px;
    width: auto;
  }

}
